	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		<style>
  
.dashboard-panel .row .col-33 {
    text-decoration-line: unset;
    text-align: center;
    padding: 90px 80px 40px 20px;
    border: 0;
}
  
  
  .col-001 {
background-image: url(http://games.mad-agency.xyz/files/207022222/icon-256.png);
background-size: contain;
background-color: transparent;  
background-repeat: no-repeat;
background-position: center;  
padding: 90px 80px 40px 20px;
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
}
  
  .col-002 {
background-image: url(http://games.mad-agency.xyz/files/206813084/icon-256.png);
background-size: contain;
background-color: transparent;  
background-repeat: no-repeat;
background-position: center;  
padding: 90px 80px 40px 20px;
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
}
  
  .col-003 {
background-image: url(http://games.mad-agency.xyz/files/206814390/icon-256.png);
background-size: contain;
background-color: transparent;  
background-repeat: no-repeat;
background-position: center;  
padding: 90px 80px 40px 20px; 
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
}
  
  .col-004 {
background-image: url(http://games.mad-agency.xyz/files/206812885/icon-256.png);
background-size: contain;
background-color: transparent;  
background-repeat: no-repeat;
background-position: center;  
padding: 90px 80px 40px 20px;  
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
}
  
  .col-005 {
background-image: url(http://games.mad-agency.xyz/files/206810661/icon-256.png);
background-size: contain;
background-color: transparent;  
background-repeat: no-repeat;
background-position: center;  
padding: 90px 80px 40px 20px;  
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</style>		

<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink col-001"  ng-href="#/frantic_games_app/first_game" >
					<i class="" ></i>
					<!-- <p>{{ "Helloween" | translate }}</p> -->
				</a>
				<a class="col-33 no-border light positive-900-bg ink col-002"  ng-href="#/frantic_games_app/game_two" >
					<i class="" ></i>
					<!-- <p>{{ "Menu Two" | translate }}</p> -->
				</a>
				<a class="col-33 no-border light calm-bg ink col-003"  ng-href="#/frantic_games_app/game_five" >
					<i class="" ></i>
					<!-- <p>{{ "Games list" | translate }}</p> -->
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink col-004"  ng-href="#/frantic_games_app/game_four" >
					<i class="" ></i>
					<!-- <p>{{ "Help" | translate }}</p> -->
				</a>
				<a class="col-33 no-border light balanced-bg ink col-005"  ng-href="#/frantic_games_app/game_three" >
					<i class="" ></i>
					<!-- <p>{{ "Faqs" | translate }}</p> -->
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
