	<ion-view view-title=" Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-quiz" class="quiz page-quiz">
		

	<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/images/barner-1.jpg" class="" />
			</ion-slide-page>
			<ion-slide-page>
				<img ng-src="data/images/images/barner-2.jpg" class="" />
			</ion-slide-page>
		</ion-slides>
	</div>
		<div class="dashboard-panel">
			<div class="item item-title item-calm no-border">Welcome</div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-8c63086305db5ccea3eae9cb738a647af07258ff" class="col-33 calm-bg transparent ink"  ng-href="#/frantic_games_app/dashboard" >
					<i class="icon ion-android-favorite" ></i>
					<p>Menu Two</p>
				</a>
				<a id="menu-box-819882336892ba94d19fbf183e66a6ba13b6fb56" class="col-33 calm-bg transparent ink"  ng-href="#/frantic_games_app/dashboard" >
					<i class="icon ion-ios-game-controller-b" ></i>
					<p>Games list</p>
				</a>
				<a id="menu-box-c47ae15370cfe1ed2781eedc1dc2547d12d9e972" class="col-33 calm-bg transparent ink"  ng-href="#/frantic_games_app/help" >
					<i class="icon ion-help-circled" ></i>
					<p>Help</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a id="menu-box-b790fad80a9b2886441e765962de0a139a6300b2" class="col-33 calm-bg transparent ink"  ng-href="#/frantic_games_app/faqs" >
					<i class="icon ion-android-chat" ></i>
					<p>Faqs</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
<br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
