<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-assertive">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view animation="none" name="frantic_games_app-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="text-center expanded assertive-bg">
			<img ng-src="{{ appLogo | trustUrl }}" class="avatar motion spin fade" />
			<div class="menu-bottom"><span ng-bind-html="appName | strHTML"></span><br/></div>
		</ion-header-bar>
		<ion-content class="has-expanded-header stable-bg dark">
			<ion-list class="list" >
				<ion-item ng-hide="hide_menu_welcome"  class="menu-welcome item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="frantic_games_app.welcome">
					<i class="icon ion-android-bulb"></i> {{ "Welcome" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_dashboard"  class="menu-dashboard item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="frantic_games_app.dashboard">
					<i class="icon ion-android-favorite"></i> {{ "Menu Two" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_dashboard"  class="menu-dashboard item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="frantic_games_app.dashboard">
					<i class="icon ion-ios-game-controller-b"></i> {{ "Games list" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_help"  class="menu-help item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="frantic_games_app.help">
					<i class="icon ion-help-circled"></i> {{ "Help" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_faqs"  class="menu-faqs item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="frantic_games_app.faqs">
					<i class="icon ion-android-chat"></i> {{ "Faqs" | translate }}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
